.container{
 border-bottom: 2px solid gray;
padding-bottom: 50px;
margin-bottom: 30px;
}
.profile_container{
border-bottom: 2px solid gray;
padding-bottom: 50px;
margin-bottom: 30px;

}
.profile_image{
    width: 100%;
}
.about_me{
    font-size: 18px;
    padding: 20px 0;
    line-height: 30px;
}
.button{
    width: 180px;
    height: 50px;
    background-color: #9D9B9B;
    border: none;

    text-transform: uppercase;
}
